# python version >= 3.9  <= 3.11

# torch (PromptDA)
torch==2.0.1
torchvision==0.15.2 
torchaudio==2.0.2
pytorch-lightning==1.9.0

# image processing and misc (PromptDA)
imageio>=2.33.1
Pillow>=10.1.0
imageio-ffmpeg
einops
tqdm
ipdb

# math (PromptDA)
numpy==1.24.4
opencv-python==4.9.0.80
scipy
matplotlib

# dependency version specifiers to prevent errors
setuptools>=60.2.0
jupyter-client==7.4.4

# misc (PromptDA)
open3d
huggingface_hub

# used for decompressing depth in scannet scenes
lz4